body{
    font-family: Arial, sans-serif;
}

.title{
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
    color: lightcoral;
}

.inputEdit{
    border: none;
    padding: 5px;
    font-size: 20px;
    outline: none;
}

.botonEdit{
    border: none;
    color: lightcoral;
}